@import "tailwindcss";
#root { 
  margin: 0px;
  padding: 0px; 
  width: 100%;
}
 
.glass-bg {
  background: rgba(255, 255, 255, .1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4B5563; 
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar {
  scrollbar-color: #4B5563 transparent; 
  scrollbar-width: thin;
}